<header>
    <div class="container-fluid">
        <div class="row mainHead">
            <div class="col-sm-4">
                <a class="navicon-button rarr">
                    <div class="navicon"></div>
                </a>
            </div>
            <div class="col-sm-4">
                <div class="logoU">
                    <img src="assets/img/AA_LOGO_HEADER.png" alt="">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="optionsHeader">
                    <ul class="list-inline">
                        <li>
                            <div class="boxSelect">
                                <select name="" id="input" class="form-control" required="required">
                                    <option value="">ES</option>
                                    <option value="">EN</option>
                                    <option value="">PT</option>
                                </select>
                            </div>
                        </li>
                        <li><a href="#"><i class="fa fa-bell-o" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-sign-out" aria-hidden="true" (click)="logout()"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>