<section id="mainContent">
        <button class="button" data-sort-by="name">name</button>
        <button class="button" data-sort-by="number">number</button>
    <div class="grid" data-isotope='{ "itemSelector": ".grid-item", "getSortData": { "number": ".number", "category": "[data-category]" }, "masonry": { "columnWidth": 200 } }'>
      <div class="grid-sizer col-xs-12 col-sm-6 col-md-6 col-lg-4"></div>
      <div class="grid-item col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="moduleDashboard mdConsulta">
            <div class="mdHead">
                <p class="number">1</p>
                <h3 class="name">BIBLIOTECA</h3>
                <a href="#" class="btnAccionPrimaria">Ingresar</a>
            </div>
            <div class="mdBody">
                <p class="contentMod">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quisquam debitis deserunt totam. Impedit numquam cumque sint.</p>
            </div>
        </div>
      </div>
      <div class="grid-item col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="moduleDashboard mdPortales">
            <div class="mdHead">
                <p class="number">4</p>
                <h3 class="name">BOLSA DE EMPLEO</h3>
                <a href="#" class="btnAccionPrimaria">Ingresar</a>
            </div>
            <div class="mdBody">
                <p class="contentMod">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quisquam debitis deserunt totam. Impedit numquam cumque sint.</p>
            </div>
        </div>
      </div>
      <div class="grid-item col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="moduleDashboard mdConsulta">
            <div class="mdHead">
                <p class="number">2</p>
                <h3 class="name">CALENDARIO ACADÉMICO</h3>
                <a href="#" class="btnAccionPrimaria">Ingresar</a>
            </div>
            <div class="mdBody">
                <p class="contentMod">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quisquam debitis deserunt totam. Impedit numquam cumque sint.</p>
            </div>
        </div>
      </div>
      <div class="grid-item col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="moduleDashboard mdConsulta">
            <div class="mdHead">
                <p class="number">5</p>
                <h3 class="name">CALIFICACIONES PERIODO EN CURSO</h3>
                <a href="#" class="btnAccionPrimaria">Ingresar</a>
            </div>
            <div class="mdBody">
                <p class="contentMod">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quisquam debitis deserunt totam. Impedit numquam cumque sint.</p>
            </div>
        </div>
      </div>
      <div class="grid-item col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="moduleDashboard mdConsulta">
            <div class="mdHead">
                <p class="number">6</p>
                <h3  class="name">CONSULTA DE CUENTA</h3>
                <a href="#" class="btnAccionPrimaria">Ingresar</a>
            </div>
            <div class="mdBody">
                <p class="contentMod">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quisquam debitis deserunt totam. Impedit numquam cumque sint.</p>
            </div>
        </div>
      </div>
      <div class="grid-item col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="moduleDashboard mdPortales">
            <div class="mdHead">
                <p class="number">7</p>
                <h3 class="name">CORREO ELECTRÓNICO</h3>
                <a href="#" class="btnAccionPrimaria">Ingresar</a>
            </div>
            <div class="mdBody">
                <p class="contentMod">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quisquam debitis deserunt totam. Impedit numquam cumque sint.</p>
            </div>
        </div>
      </div>
      <div class="grid-item col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="moduleDashboard mdOtros">
            <div class="mdHead">
                <p class="number">8</p>
                <h3 class="name">EVALUACIÓN AL DOCENTE</h3>
                <a href="#" class="btnAccionPrimaria">Ingresar</a>
            </div>
            <div class="mdBody">
                <p class="contentMod">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quisquam debitis deserunt totam. Impedit numquam cumque sint.</p>
            </div>
        </div>
      </div>
      <div class="grid-item col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="moduleDashboard mdSolicitud">
            <div class="mdHead">
                <p class="number">9</p>
                <h3 class="name">FORMULARIO DE SOLICITUDES</h3>
                <a href="#" class="btnAccionPrimaria">Ingresar</a>
            </div>
            <div class="mdBody">
                <p class="contentMod">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quisquam debitis deserunt totam. Impedit numquam cumque sint.</p>
            </div>
        </div>
      </div>
      <div class="grid-item col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="moduleDashboard mdOtros">
            <div class="mdHead">
                <p class="number">10</p>
                <h3 class="name">HISTORIAL ACADÉMICO</h3>
                <a href="#" class="btnAccionPrimaria">Ingresar</a>
            </div>
            <div class="mdBody">
                <p class="contentMod">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quisquam debitis deserunt totam. Impedit numquam cumque sint.</p>
            </div>
        </div>
      </div>
      <div class="grid-item col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="moduleDashboard mdOtros">
            <div class="mdHead">
                <p class="number">11</p>
                <h3 class="name">HORARIOS DE CLASE</h3>
                <a href="#" class="btnAccionPrimaria">Ingresar</a>
            </div>
            <div class="mdBody">
                <p class="contentMod">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quisquam debitis deserunt totam. Impedit numquam cumque sint.</p>
            </div>
        </div>
      </div>
      <div class="grid-item col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="moduleDashboard mdOtros">
            <div class="mdHead">
                <p class="number">12</p>
                <h3 class="name">LÍNEAS DE CONTACTO</h3>
                <a href="#" class="btnAccionPrimaria">Ingresar</a>
            </div>
            <div class="mdBody">
                <p class="contentMod">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quisquam debitis deserunt totam. Impedit numquam cumque sint.</p>
            </div>
        </div>
      </div>
      <div class="grid-item col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="moduleDashboard mdConsulta">
            <div class="mdHead">
                <p class="number">13</p>
                <h3 class="name">PAGO EN LÍNEA MATRÍCULA</h3>
                <a href="#" class="btnAccionPrimaria">Ingresar</a>
            </div>
            <div class="mdBody">
                <p class="contentMod">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quisquam debitis deserunt totam. Impedit numquam cumque sint.</p>
            </div>
        </div>
      </div>
      <div class="grid-item col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="moduleDashboard mdPortales">
            <div class="mdHead">
                <p class="number">14</p>
                <h3 class="name">PLATAFORMA VIRTUAL</h3>
                <a href="#" class="btnAccionPrimaria">Ingresar</a>
            </div>
            <div class="mdBody">
                <p class="contentMod">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quisquam debitis deserunt totam. Impedit numquam cumque sint.</p>
            </div>
        </div>
      </div>
      <div class="grid-item col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="moduleDashboard mdConsulta">
            <div class="mdHead">
                <p class="number">15</p>
                <h3 class="name">REGLAMENTO ESTUDIANTIL</h3>
                <a href="#" class="btnAccionPrimaria">Ingresar</a>
            </div>
            <div class="mdBody">
                <p class="contentMod">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quisquam debitis deserunt totam. Impedit numquam cumque sint.</p>
            </div>
        </div>
      </div>
      <div class="grid-item col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="moduleDashboard mdOtros">
            <div class="mdHead">
                <p class="number">16</p>
                <h3 class="name">SEDES</h3>
                <a href="#" class="btnAccionPrimaria">Ingresar</a>
            </div>
            <div class="mdBody">
                <p class="contentMod">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quisquam debitis deserunt totam. Impedit numquam cumque sint.</p>
            </div>
        </div>
      </div>
      <div class="grid-item col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="moduleDashboard mdOtros">
            <div class="mdHead">
                <p class="number">17</p>
                <h3 class="name">SEGUIMIENTO SOLICITUDES</h3>
                <a href="#" class="btnAccionPrimaria">Ingresar</a>
            </div>
            <div class="mdBody">
                <p class="contentMod">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quisquam debitis deserunt totam. Impedit numquam cumque sint.</p>
            </div>
        </div>
      </div>
      <div class="grid-item col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="moduleDashboard mdPortales">
            <div class="mdHead">
                <p class="number">18</p>
                <h3 class="name">SERVICIOS ILUMNO</h3>
                <a href="#" class="btnAccionPrimaria">Ingresar</a>
            </div>
            <div class="mdBody">
                <p class="contentMod">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quisquam debitis deserunt totam. Impedit numquam cumque sint.</p>
            </div>
        </div>
      </div>

      <div class="grid-item col-xs-12 col-sm-6 col-md-6 col-lg-4">
          <!-- add inner element for column content -->
          <div class="moduleDashboard mdConsulta">
              <div class="mdHead">
                  <p class="number">3</p>
                  <h3 class="name">BLOQUEOS Y RETENCIONES</h3>
                  <a href="#" class="btnAccionPrimaria">Ingresar</a>
              </div>
              <div class="mdBody">
                  <p class="contentMod">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quisquam debitis deserunt totam. Impedit numquam cumque sint.</p>
              </div>
          </div>
        </div>
    </div>
</section>