<div class="user">
    <img src="assets/img/user.png" alt="" class="imgProfile">
    <div class="name">
        <h3>Nombre </h3>
        <a href="#" class="iconLogOut">
            <i class="fa fa-sign-out" aria-hidden="true"></i>
        </a>
    </div>
    <div class="carrer">
        <div class="boxSelect">
            <select name="" id="input" class="form-control" required="required">
                <option value="">Administrador ILUMNO</option>
                <option value="">Administrador universidad</option>
            </select>
        </div>
        <!-- <p class="modalidad">Pregrado Virtual</p> -->
    </div>
</div>