html {
    height: 100%;
}

#loginPage {
    height: 100%;
    background-image: url("../img/bg_login.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    .container-fluid {
        height: 100%;
    }
    .boxFooter {
        position: fixed;
        width: 100%;
        bottom: 0;
    }
}
.overlayLogin {
	position: absolute;
    height: 100%;
    background-color: rgba($primary_color, .8);
    width: 100%;
}
.boxLogin {
    position: absolute;
    margin: auto;
    background-color: #FFF;
    width: 500px;
    padding: 30px 20px;
    left: 50%;
    top: 40%;
    -webkit-transform: translate(-50%, -40%);
    transform: translate(-50%, -40%);
    #formLogin {
        font-family: $font_U;
        h2 {
            margin: 0 0 10px;
            text-align: center;
            color: $primary_color;
            text-transform: uppercase;
            font-size: 21px;
            font-weight: 700;
        }
        .alertValidacion {
            color: #dd1639;
            font-size: 14px;
        }
        input {
            border-color: $primary_color;
            border-radius: 0;
            box-shadow:none;
        }
        #passwordLogin {
        	border-right: none;
        }
		.input-group-btn button {
			background-color: transparent;
			border-color: $primary_color;
			color: $primary_color;
			border-left: none;
            border-radius:0;
		}
        .boxIngresarLogin {
            button {
                width: 100%;
                margin: 0;
                i {
                	padding-left: 10px;
                }
            }
        }
        input::-webkit-input-placeholder {
            color: $inactive_color;
        }
        input:-moz-placeholder {
            color: $inactive_color;
            opacity: 1;
        }
        input::-moz-placeholder {
            color: $inactive_color;
            opacity: 1;
        }
        input:-ms-input-placeholder {
            color: $inactive_color;
        }
		.bootstrap-select>.dropdown-toggle.bs-placeholder, 
		.bootstrap-select>.dropdown-toggle.bs-placeholder:active, 
		.bootstrap-select>.dropdown-toggle.bs-placeholder:focus, 
		.bootstrap-select>.dropdown-toggle.bs-placeholder:hover, {
			color: $color_texto_base;
			border-color: $primary_color;
			background-color: transparent;
			outline: none;
			box-shadow: none;
			border-radius: 0;
		}
		.bootstrap-select > .dropdown-toggle.bs-placeholder:focus {
			outline: none !important;
		}
		.bs-caret {
			color: $primary_color;
		}
        .warningInputs {
            border-color: #dd1639 !important;
            i {
            	color: #dd1639;
            }
            &::-webkit-input-placeholder {
            	color: #dd1639;
        	}
        	&:-moz-placeholder {
        	    color: #dd1639;
        	    opacity: 1;
        	}
        	&::-moz-placeholder {
        	    color: #dd1639;
        	    opacity: 1;
        	}
        	&:-ms-input-placeholder {
        	    color: #dd1639;
        	}

        }
    }
}