<div class="" *ngIf="!logued">
        <app-login (logued)="validateLogued($event)"></app-login>
</div>
<div class="container-fluid">

    <div class="row boxTotal">
        <div *ngIf="logued">
            <div>
                <section id="mainNav">
                    <app-user></app-user>
                    <app-menu></app-menu>
                </section>
                <section id="content">
                    <app-header (log_out)="logout($event)"></app-header>
                    <router-outlet></router-outlet>
                </section>
            </div>
        </div>
    </div>
</div>
<div class="boxFooter" *ngIf="logued">
    <!-- <app-footer></app-footer> -->
</div>


