<section id="mainNav">
        <nav class="menu" id="accordion">
    
            <ul class="panel" id="panel">
    
    
                <a class="seccionPadre navPrincipal active" data-parent="#accordion" data-toggle="collapse" href="" (click)="goPrincipal()">
                    <li>
                        <i class="fa fa-home" aria-hidden="true"></i>
                        <span>{{'Menu.LabelPrincipal' | translate}}</span>
                    </li>
                </a>
                <!-- <ul class="collapse" id="collapse0">
            </ul> -->
    
                <a *ngIf="user != undefined && user.rol == '1'" class="seccionPadre navPagos active" data-parent="#accordion" data-toggle="collapse"
                    href="#collapse0">
                    <li>
                        <i class="fa fa-cog" aria-hidden="true"></i>
                        <span>{{'Menu.LabelAdministracion' | translate}}</span>
                    </li>
                </a>
                <ul class="collapse" id="collapse0">
                    <a [routerLink]="['administration']" data-toggle="modal" href="#modal-id" routerLinkActive="active">
                        <li>
                            <span>{{'Menu.LabelConfiguracionServicios' | translate}}</span>
                        </li>
                    </a>
                    <a [routerLink]="['univ-management']" routerLinkActive="active" href="" *ngIf="user != undefined && user.university == '0'">
                        <li>
                            <span>{{'Menu.LabelConfiguracionUniversidades' | translate}}</span>
                        </li>
                    </a>
                    <a [routerLink]="['file-loading']" routerLinkActive="active">
                        <li>
                            <span>{{'Menu.LabelReglamentos' | translate}}</span>
                        </li>
                    </a>
                </ul>
    
                <!-- INICIO ACCORDION -->
    
                <div id='divItem' *ngFor="let padre of menu; let padreIdx = index">
                    <a *ngIf="user != undefined && user.rol == '2'" id="wrap" class="seccionPadre {{padre.clase}}" data-parent="#accordion" data-toggle="collapse"
                        href="#collapse{{padreIdx + 1}}">
                        <li>
                            <i class="fa fa-{{padre.logo}}" aria-hidden="true"></i>
                            <span>{{padre.name}}</span>
                        </li>
                    </a>
                    <ul *ngIf="user != undefined && user.rol == '2'" id="wrap" class="collapse" id="collapse{{padreIdx + 1}}">
                        <nav id="subAccordion2">
                            <ul *ngFor="let hijo of padre.data; let idxHijo = index" class="panel">
                                <a *ngIf="hijo.data" class="accordionHijo" data-toggle="collapse" href="#collapse{{padreIdx + 1}}{{idxHijo}}">
                                    <li>
                                        <span>{{hijo.name}}</span>
                                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                    </li>
                                </a>
                                <!-- <a *ngIf="!hijo.data" class="accordionHijo" data-toggle="collapse" href="hijo.url"> -->
                                <a *ngIf="!hijo.data" class="accordionHijo" data-toggle="collapse">
                                    <li>
                                        <span>{{hijo.name}}</span>
                                    </li>
                                </a>
                                <ul class="collapse" id="collapse{{padreIdx + 1}}{{idxHijo}}">
                                    <a *ngFor="let nieto of hijo.data">
                                        <!-- <a *ngFor="let nieto of hijo.data" href="nieto.url" class="active"> -->
                                        <li>
                                            <span>{{nieto.name}}</span>
                                        </li>
                                    </a>
                                </ul>
                            </ul>
                        </nav>
                    </ul>
                </div>
    
                <!-- FIN ACCORDION -->
    
            </ul>
        </nav>
    </section>