

<nav class="menu" id="accordion">
    <ul class="panel">
        <a class="seccionPadre navPrincipal active" data-parent="#accordion" data-toggle="collapse" href="#collapse0">
            <li><i class="fa fa-home" aria-hidden="true"></i><span>PRINCIPAL</span></li>
        </a>
        <ul class="collapse" id="collapse0">
        </ul>
        <!-- ACCORDION1 -->
        <a class="seccionPadre navPagos" data-parent="#accordion" data-toggle="collapse" href="#collapse1">
            <li><i class="fa fa-money" aria-hidden="true"></i><span>PAGOS</span></li>
        </a>
        <ul class="collapse" id="collapse1">
            <a href="" class="active">
                <li><span>Cuenta 1</span></li>
            </a>
            <a href="">
                <li><span>Cuenta 2</span></li>
            </a>
        </ul>
        <!-- ACCORDION2 -->
        <a class="seccionPadre navConsulta" data-parent="#accordion" data-toggle="collapse" href="#collapse2">
            <li><i class="fa fa-commenting" aria-hidden="true"></i><span>CONSULTA</span></li>
        </a>
        <ul class="collapse" id="collapse2">
            <nav id="subAccordion2">
                <ul class="panel">
                    <a class="accordionHijo" data-parent="#subAccordion2" data-toggle="collapse" href="#collapseTwoOne">
                        <li><span>Académica</span><i class="fa fa-chevron-down" aria-hidden="true"></i></li>
                    </a>
                    <ul class="collapse" id="collapseTwoOne">
                        <a href="" class="active">
                            <li><span>Cuenta 1</span></li>
                        </a>
                        <a href="">
                            <li><span>Cuenta 2</span></li>
                        </a>
                    </ul>
                    <a class="accordionHijo" data-parent="#subAccordion2" data-toggle="collapse" href="#collapseTwoTwo">
                        <li><span>Financiera</span><i class="fa fa-chevron-down" aria-hidden="true"></i></li>
                    </a>
                    <ul class="collapse" id="collapseTwoTwo">
                        <a href="">
                            <li><span>Cuenta 1</span></li>
                        </a>
                        <a href="">
                            <li><span>Cuenta 2</span></li>
                        </a>
                    </ul>
                </ul>
            </nav>
        </ul>
        <!-- ACCORDION3 -->
        <a class="seccionPadre navSolicitud" data-parent="#accordion" data-toggle="collapse" href="#collapse3">
            <li><i class="fa fa-send" aria-hidden="true"></i><span>SOLICITUD</span></li>
        </a>
        <ul class="collapse" id="collapse3">
            <nav id="subAccordion3">
                <ul class="panel">
                    <a class="accordionHijo" data-parent="#subAccordion3" data-toggle="collapse" href="#collapseThreeOne">
                        <li><span>Académica</span><i class="fa fa-chevron-down" aria-hidden="true"></i></li>
                    </a>
                    <ul class="collapse" id="collapseThreeOne">
                        <a href="" class="active">
                            <li><span>Cuenta 1</span></li>
                        </a>
                        <a href="">
                            <li><span>Cuenta 2</span></li>
                        </a>
                    </ul>
                    <a class="accordionHijo" data-parent="#subAccordion3" data-toggle="collapse" href="#collapseThreeTwo">
                        <li><span>Financiera</span><i class="fa fa-chevron-down" aria-hidden="true"></i></li>
                    </a>
                    <ul class="collapse" id="collapseThreeTwo">
                        <a href="">
                            <li><span>Cuenta 1</span></li>
                        </a>
                        <a href="">
                            <li><span>Cuenta 2</span></li>
                        </a>
                    </ul>
                </ul>
            </nav>
        </ul>
        <!-- ACCORDION4 -->
        <a class="seccionPadre navPortales" data-parent="#accordion" data-toggle="collapse" href="#collapse4">
            <li><i class="fa fa-laptop" aria-hidden="true"></i><span>PORTALES</span></li>
        </a>
        <ul class="collapse" id="collapse4">
            <a href="">
                <li><span>Cuenta 1</span></li>
            </a>
            <a href="">
                <li><span>Cuenta 2</span></li>
            </a>
        </ul>
        <a class="seccionPadre navSedes" href="#collapse5" data-parent="#accordion" data-toggle="collapse">
            <li><i class="fa fa-map-marker" aria-hidden="true"></i><span>SEDES</span></li>
        </a>
        <ul class="collapse" id="collapse5">
        </ul>
    </ul>
</nav>